@font-face {
  font-family: "Hypnotic";
  src: url(assets/font/hypnotic.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center / cover no-repeat url(assets/img/background.png);
  overflow: hidden;
  filter: blur(0);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(85%) sepia(97%) saturate(797%)
    hue-rotate(311deg) brightness(107%) contrast(94%);
}

.percentage {
  font-size: 4.5rem;
  font-family: "Hypnotic", Arial, Helvetica, sans-serif;
}
