:root {
  --bg-color: rgb(204, 204, 204);
  --heading-color: rgb(114, 70, 114);
  --card-bg: rgb(245, 245, 245);
  --card-color: rgb(30, 30, 30);
}

[data-theme="dark"] {
  --bg-color: rgb(18, 18, 18);
  --card-bg: rgb(30, 30, 30);
  --card-color: rgb(245, 245, 245);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  min-width: 60px;
  filter: brightness(0) saturate(100%) invert(33%) sepia(15%) saturate(1439%)
    hue-rotate(251deg) brightness(89%) contrast(88%);
}

body {
  min-height: calc(100dvh - 50px - 1rem);
  background: var(--bg-color);
  padding: 50px 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* THEME */
.theme {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  display: inline-block;
  width: 50px;
  height: 26px;
  cursor: pointer;
}

.theme input[type="checkbox"] {
  display: none;
}

.switch {
  position: absolute;
  inset: 0;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  transition: 0.4s;
}

.switch::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  top: 2px;
  background: url(img/sun.png);
  background-size: 100%;
  transition: 0.4s;
}

input:checked + .switch::before {
  background: url(img/moon.png) center no-repeat;
  background-size: 20px;
  transform: translateX(23px);
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* HEADING */
.heading {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  max-width: 200px;
  width: 100%;
}

.title {
  margin: 2rem 0;
  font-family: sans-serif;
  font-size: clamp(1.9rem, 4vw + 1rem, 3rem);
  color: var(--heading-color);
  text-shadow: 0 0 4px;
}

/* FORM */
.form {
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.2rem 0.7rem;
  flex: 1;
  line-height: 1.5;
  font-size: 1.3rem;
  background: #f3f3f3;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #d8bfd8;
  outline: none;
}

.input:focus {
  border-top: 3px solid thistle;
  border-bottom: 3px solid thistle;
}

.btn {
  font-family: sans-serif;
  font-weight: 600;
  background: radial-gradient(circle, white 30%, thistle);
  color: #333;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.2s;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ERROR */
.error {
  margin: 1rem;
  color: red;
}

.hidden {
  display: none;
}

/* RESULTS */
.results {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

a {
  text-decoration: none;
  background: var(--card-bg);
  color: var(--card-color);
  border-radius: 5px;
  padding: 1rem;
  transition: 0.5s;
}

a h2 {
  margin-bottom: 1rem;
}

a p {
  line-height: 1.5rem;
  font-size: 1rem;
}

a:hover,
a:focus,
a:active {
  background: gainsboro;
  color: #000;
  transform: scale(0.98);
}

/* MEDIA QUERY */
@media screen and (min-width: 1024px) {
  .results {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 426px) {
  .results {
    grid-template-columns: 1fr;
  }
}
