*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  min-width: 60px;
  filter: brightness(0) saturate(100%) invert(89%) sepia(74%) saturate(250%)
    hue-rotate(261deg) brightness(91%) contrast(84%);
}

body {
  min-height: calc(100dvh - 100px);
  padding: 50px 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* HEADING */
.heading {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  max-width: 200px;
  width: 100%;
}

.title {
  margin: 2rem 0;
  font-family: sans-serif;
  font-size: 2.5rem;
  color: thistle;
  text-shadow: 0 0 4px;
}

/* FORM */
.form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.input {
  padding: 0 0.5rem;
  flex: 1;
  line-height: 1.5;
  font-size: 1.3rem;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: linear-gradient(90deg, thistle, white, thistle);
  color: #000;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.2s;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-size: 33%;
}

/* ERROR */
.errorEmpty,
.errorNetwork {
  margin: 1rem;
  color: red;
}

.hidden {
  display: none;
}

/* RESULTS */
.results {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

a {
  text-decoration: none;
  background: thistle;
  color: #333;
  border-radius: 5px;
  padding: 1rem;
  transition: 0.5s;
}

a h2 {
  margin-bottom: 1rem;
}

a p {
  line-height: 1.5rem;
  font-size: 1rem;
}

a:hover,
a:focus,
a:active {
  background: gainsboro;
  color: #000;
  transform: scale(0.98);
}

/* MEDIA QUERY */
@media screen and (min-width: 1024px) {
  .results {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 426px) {
  .results {
    grid-template-columns: 1fr;
  }
}
