* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  width: 100%;
  background: linear-gradient(170deg, #0f0c29 0%, #302b63 49%, #24243e 75%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(70%) sepia(12%) saturate(1035%)
    hue-rotate(315deg) brightness(106%) contrast(78%);
}

.container {
  width: 70%;
  height: 90dvh;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.slide {
  flex: 1;
  min-width: 0;
  height: 100%;
  border: 0.3px solid aliceblue;
  border-radius: 20px;
  position: relative;
  transition: all 0.8s ease-in-out;
  /* why the background property dosn`t work here?! */
}

.one {
  background: url("img/spring.png");
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  background: url("img/summer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.three {
  background: url("img/autmn.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.four {
  background: url("img/winter.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide pre {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: fit-content;
  font-family: "Slackside One", cursive;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 200;
  background: #212121;
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  color: aliceblue;
  opacity: 0;
  white-space: pre-wrap;
  /* word-wrap: break-word;  */
  transition: opacity 0.5s ease 0.3s;
}

/* js */
.active {
  flex: 10;
  overflow: hidden;
}

.active pre {
  opacity: 1;
}

@media (max-width: 550px) {
  .container {
    flex-direction: column;
  }

  .active {
    flex: 7;
    transition: 1.3s;
  }

  .three {
    background-position: 50%;
  }

  .four {
    background-position: center;
  }
}

@keyframes slideUpAnimation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active pre {
  animation-name: slideUpAnimation;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-delay: 0.4s;
  /* animation-iteration-count: 1; */
  /* animation-direction: normal; */
  animation-fill-mode: both;
}
